@import "./reset.css";
@import "./login.css";

body {
  background-color: #eee;
}

button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

a,
button {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login */
  .fadeout-125 {
    transform: translateY(125px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .fadein {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }